---
- name: deploy flask web app
  hosts: all
  become: true
  remote_user: root
  gather_facts: true

  tasks:
    - name: activate virtual environment
      command: /bin/bash -c "source ~/flask_dir/.myenv/bin/activate"

    - name: start flask web app
      command: /bin/bash -c "export FLASK_APP=~/flask_dir/app.py && ~/flask_dir/.myenv/bin/flask run --host=0.0.0.0 --port=5000 &"

...